body {
    background-color: #bf7e29;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #cea02c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
.